.CaseWrapper {
    width: 800px;
    height: 120px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
}

.Case {
    display: flex;
    gap: 5px;
}

.CaseItem {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    flex-shrink: 0;
    text-align: center;
}