.inventory-grid {
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 15px;
}

.inventory-item {
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
}

.item-image {
    width: 100%;
}

.item-name {
    font-weight: bold;
    font-size: 16px;
}

.item-case {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
}